Đọc csv raw

In [2]:
import pandas as pd

SPGC2024 = pd.read_csv('../data/raw/Spotify_Global_Chart_2024.csv', sep=',', na_values=[''], quotechar='"')
SPGC2024.head()

,Source.Name,rank,uri,artist_names,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams
0,regional-global-weekly-2024-01-04.csv,1,spotify:track:3rUGC1vUpkDG9CZFHMur1t,Tate McRae,greedy,RCA Records Label,1,14,16,33855816
1,regional-global-weekly-2024-01-04.csv,2,spotify:track:0R6NfOiLzLj4O5VbYSJAjf,Xavi,La Diabla,Interscope Records,2,17,4,30894083
2,regional-global-weekly-2024-01-04.csv,3,spotify:track:4xhsWYTOGcal8zt0J161CU,Jack Harlow,Lovin On Me,Generation Now/Atlantic,3,19,8,30778444
3,regional-global-weekly-2024-01-04.csv,4,spotify:track:1BxfuPKGuaTgP7aM0Bbdwr,Taylor Swift,Cruel Summer,Taylor Swift,2,20,48,30224692
4,regional-global-weekly-2024-01-04.csv,5,spotify:track:3vkCueOmm7xQDoJ17W1Pm3,Mitski,My Love Mine All Mine,Dead Oceans,3,18,15,26430016

Check column, info, và missing value

In [3]:
SPGC2024.shape
SPGC2024.info()
SPGC2024.isna().sum()
SPGC2024.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10600 entries, 0 to 10599
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Source.Name     10600 non-null  object
 1   rank            10600 non-null  int64
 2   uri             10600 non-null  object
 3   artist_names    10600 non-null  object
 4   track_name      10600 non-null  object
 5   source          10600 non-null  object
 6   peak_rank       10600 non-null  int64
 7   previous_rank   10600 non-null  int64
 8   weeks_on_chart  10600 non-null  int64
 9   streams         10600 non-null  int64
dtypes: int64(5), object(5)
memory usage: 828.3+ KB

Index(['Source.Name', 'rank', 'uri', 'artist_names', 'track_name', 'source',
       'peak_rank', 'previous_rank', 'weeks_on_chart', 'streams'],
      dtype='object')

snake_case

In [4]:
SPGC2024.columns

Index(['Source.Name', 'rank', 'uri', 'artist_names', 'track_name', 'source',
       'peak_rank', 'previous_rank', 'weeks_on_chart', 'streams'],
      dtype='object')

In [5]:
SPGC2024 = SPGC2024.rename(columns={
    'rank': 'vi_tri_xep_hang',
    'previous_rank': 'vi_tri_tuan_truoc',
    'peak_rank': 'vi_tri_cao_nhat',
    'streams': 'luot_nghe',
    'weeks_on_chart': 'so_tuan_tren_bang_xep_hang',
    'artist_names': 'nghe_si',
    'track_name': 'ten_bai_hat',
    'uri': 'spotify_uri',
    'Source.Name': 'nguon_du_lieu_1',
    'is_new_entry': 'bai_hat_moi',
    'rank_change': 'thay_doi_thu_hang'
})

In [6]:
SPGC2024.head()

,nguon_du_lieu_1,vi_tri_xep_hang,spotify_uri,nghe_si,ten_bai_hat,source,vi_tri_cao_nhat,vi_tri_tuan_truoc,so_tuan_tren_bang_xep_hang,luot_nghe
0,regional-global-weekly-2024-01-04.csv,1,spotify:track:3rUGC1vUpkDG9CZFHMur1t,Tate McRae,greedy,RCA Records Label,1,14,16,33855816
1,regional-global-weekly-2024-01-04.csv,2,spotify:track:0R6NfOiLzLj4O5VbYSJAjf,Xavi,La Diabla,Interscope Records,2,17,4,30894083
2,regional-global-weekly-2024-01-04.csv,3,spotify:track:4xhsWYTOGcal8zt0J161CU,Jack Harlow,Lovin On Me,Generation Now/Atlantic,3,19,8,30778444
3,regional-global-weekly-2024-01-04.csv,4,spotify:track:1BxfuPKGuaTgP7aM0Bbdwr,Taylor Swift,Cruel Summer,Taylor Swift,2,20,48,30224692
4,regional-global-weekly-2024-01-04.csv,5,spotify:track:3vkCueOmm7xQDoJ17W1Pm3,Mitski,My Love Mine All Mine,Dead Oceans,3,18,15,26430016

In [7]:
nguon_csv = (
    SPGC2024[['nguon_du_lieu_1']]
    .dropna()
    .drop_duplicates()
    .reset_index(drop=True)
)

nguon_csv.head()

                         nguon_du_lieu_1
0  regional-global-weekly-2024-01-04.csv
1  regional-global-weekly-2024-01-11.csv
2  regional-global-weekly-2024-01-18.csv
3  regional-global-weekly-2024-01-25.csv
4  regional-global-weekly-2024-02-01.csv

In [8]:
hang_record = (
    SPGC2024[['source']]
    .dropna()
    .drop_duplicates()
    .reset_index(drop=True)
)

hang_record.head()

                    source
0        RCA Records Label
1       Interscope Records
2  Generation Now/Atlantic
3             Taylor Swift
4              Dead Oceans

In [9]:
SPGC2024_main = SPGC2024.drop(columns=['nguon_du_lieu_1', 'source','spotify_uri'])

In [10]:
nguon_csv.to_csv(
    '../data/processed/bang_nguon_csv.csv',
    index=False
)

hang_record.to_csv(
    '../data/processed/bang_hang_record.csv',
    index=False
)

In [11]:
SPGC2024_main.head()

,vi_tri_xep_hang,nghe_si,ten_bai_hat,vi_tri_cao_nhat,vi_tri_tuan_truoc,so_tuan_tren_bang_xep_hang,luot_nghe
0,1,Tate McRae,greedy,1,14,16,33855816
1,2,Xavi,La Diabla,2,17,4,30894083
2,3,Jack Harlow,Lovin On Me,3,19,8,30778444
3,4,Taylor Swift,Cruel Summer,2,20,48,30224692
4,5,Mitski,My Love Mine All Mine,3,18,15,26430016

In [12]:
SPGC2024_main['bai_hat_moi'] = SPGC2024_main['vi_tri_tuan_truoc'] <= 0

In [13]:
SPGC2024_main[['vi_tri_tuan_truoc', 'bai_hat_moi']].head(10)

   vi_tri_tuan_truoc  bai_hat_moi
0                 14        False
1                 17        False
2                 19        False
3                 20        False
4                 18        False
5                 28        False
6                 31        False
7                 37        False
8                 40        False
9                 35        False

In [14]:
SPGC2024_main['bai_hat_moi'].value_counts()

bai_hat_moi
False    9412
True     1188
Name: count, dtype: int64

In [15]:
SPGC2024_main['thay_doi_thu_hang'] = SPGC2024_main['vi_tri_tuan_truoc'] - SPGC2024_main['vi_tri_xep_hang']

In [16]:
SPGC2024_main.duplicated().sum()

np.int64(0)

In [17]:
SPGC2024_main.info()
SPGC2024_main.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10600 entries, 0 to 10599
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   vi_tri_xep_hang             10600 non-null  int64
 1   nghe_si                     10600 non-null  object
 2   ten_bai_hat                 10600 non-null  object
 3   vi_tri_cao_nhat             10600 non-null  int64
 4   vi_tri_tuan_truoc           10600 non-null  int64
 5   so_tuan_tren_bang_xep_hang  10600 non-null  int64
 6   luot_nghe                   10600 non-null  int64
 7   bai_hat_moi                 10600 non-null  bool
 8   thay_doi_thu_hang           10600 non-null  int64
dtypes: bool(1), int64(6), object(2)
memory usage: 673.0+ KB

,vi_tri_xep_hang,nghe_si,ten_bai_hat,vi_tri_cao_nhat,vi_tri_tuan_truoc,so_tuan_tren_bang_xep_hang,luot_nghe,bai_hat_moi,thay_doi_thu_hang
0,1,Tate McRae,greedy,1,14,16,33855816,False,13
1,2,Xavi,La Diabla,2,17,4,30894083,False,15
2,3,Jack Harlow,Lovin On Me,3,19,8,30778444,False,16
3,4,Taylor Swift,Cruel Summer,2,20,48,30224692,False,16
4,5,Mitski,My Love Mine All Mine,3,18,15,26430016,False,13

In [18]:
SPGC2024_main.to_csv(
    '../data/processed/spotify_global_chart_2024_cleaned.csv',
    index=False
)

In [19]:
SPGC2024_main.isna().sum()

vi_tri_xep_hang               0
nghe_si                       0
ten_bai_hat                   0
vi_tri_cao_nhat               0
vi_tri_tuan_truoc             0
so_tuan_tren_bang_xep_hang    0
luot_nghe                     0
bai_hat_moi                   0
thay_doi_thu_hang             0
dtype: int64

Chuẩn hoá text (artist, song)

In [20]:
SPGC2024_main['nghe_si'] = (
    SPGC2024_main['nghe_si']
    .str.strip()
)

SPGC2024_main['ten_bai_hat'] = (
    SPGC2024_main['ten_bai_hat']
    .str.strip()
)

Loại bỏ outliers không hợp lý

In [21]:
SPGC2024_main['luot_nghe'].describe()

count    1.060000e+04
mean     1.419974e+07
std      8.556465e+06
min      7.711230e+06
25%      9.671205e+06
50%      1.125754e+07
75%      1.505900e+07
max      1.028784e+08
Name: luot_nghe, dtype: float64

Nhóm độ phổ biến theo lượt nghe (bins)

In [22]:
SPGC2024_main['nhom_luot_nghe'] = pd.qcut(
    SPGC2024_main['luot_nghe'],
    q=4,
    labels=['Thấp', 'Trung bình', 'Cao', 'Rất cao']
)

Phân loại độ bền bài hát (longevity)

In [23]:
def phan_loai_do_ben(weeks):
    if weeks <= 4:
        return 'Ngắn hạn'
    elif weeks <= 12:
        return 'Trung hạn'
    else:
        return 'Dài hạn'

SPGC2024_main['do_ben'] = SPGC2024_main['so_tuan_tren_bang_xep_hang'].apply(phan_loai_do_ben)

In [25]:
SPGC2024_main.to_csv("../data/processed/spotify_global_chart_2024_cleaned.csv",index=False,)